body{
    background-color: rgb(209, 209, 212);
}
h3{

    text-align: center;
    font-size: 27px;
}

p{
   
    margin: 3%;
    font-size: 20px;
    line-height: 1.7;
    padding: 3%;
    padding-top: 5%;
}
.two{
    text-align: center;
    font-size: 22px;
}

/* Footer part */
.copyright p{
    font-size: 40px; 
    text-align: center; 
    width: 100%;
    padding: 30px;
    font-weight: 300;
    background-color: gray; 
    margin-top: 20px;
}
#more {
    display: none;
}